.progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  width: 0;
  background: nth($brand-neutral-colors, 1);
  z-index: 10;
}

.technology-logo {
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 8px $brand-color;
  -webkit-box-shadow: 0 0 8px $brand-color;
  -moz-box-shadow: 0 0 8px $brand-color;
}

.intro-title {
  border: 5px solid $brand-color;
}

.section-slide-down-enter {
  transform: translateY(-100%);
  z-index:100;
}
.section-slide-down-leave {
  transform: translateY(0%);
  z-index: -100;
}

.section-slide-up-enter {
  transform: translateY(100%);
  z-index:100;
}
.section-slide-up-leave {
  transform: translateY(0%);
  z-index: -100;
}

.section-slide-down-enter.section-slide-down-enter-active {
  transform: translateY(0%);
  transition: transform 500ms linear;
}

.section-slide-down-leave.section-slide-down-leave-active  {
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.section-slide-up-enter.section-slide-up-enter-active {
  transform: translateY(0%);
  transition: transform 500ms linear;
}

.section-slide-up-leave.section-slide-up-leave-active  {
  transform: translateY(-100%);
  transition: transform 300ms linear;
}

@keyframes section-slide-down-enter {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes section-slide-down-enter {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes section-slide-down-leave {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes section-slide-down-leave {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}

@keyframes section-slide-up-enter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes section-slide-up-enter {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes section-slide-up-leave {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes section-slide-up-leave {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}