@import '~grommet/scss/vanilla/index';

// Main Colors
$mainColor: #bf976f;
$mainBGColor: #3a3a3c;

// Logo dimensions
.logo {
  max-width: 96%;
  max-height: 96%;
}

// Debug TODO Exclude
.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px double green;
}

.blue-border {
  border: 1px dotted blue;
}
