@import '~grommet/scss/vanilla/index';

// Main Colors
$mainColor: #bf976f;
$mainBGColor: #3a3a3c;

// Logo dimensions
.nav-logo {
  max-width: 200px !important;
}

// Debug TODO Exclude
.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px double green;
}

.blue-border {
  border: 1px dotted blue;
}

.#{$grommet-namespace}sidebar {
  @include media-query(lap-and-up) {
    @include animation('slide-sidebar 0.2s');
  }
}

@include keyframes(slide-sidebar) {
  0% {
    width: 0;
  }

  100% {
    width: $sidebar-width;
  }
}

@media screen and (max-width: $break-portable-max-width) {
  .nav-logo {
    max-width: 150px !important;
  }
}