// Main Colors
$mainColor: #bf976f;
$mainBGColor: #3a3a3c;

html {
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

// Logo dimensions
.logo {
  max-width: 96%;
  max-height: 96%;
}